.about{
    background: #191919;
    padding-top:4rem;
}

.stacks{
    font-size: 22px;
    margin-bottom: 1rem;
}
.about__meta{
    text-align:justify;
    max-width: 90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos{
    margin-top:5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

img.about__img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 650px;
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat,sans-serif;
    font-size: 60px;
}
button.about.btn.pointer {
    text-transform: capitalize;
    width: 250px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}
.about__button{
    padding: 20px 0px;
}
a.bottom__to__top{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-image: url(./assets/red.png);
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .4s all ease;
    z-index: 1000;
}
a.bottom__to__top.active{
    display: flex;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
    .about__button{
        display:grid !important;
        grid-template-columns: 1fr !important;
        gap: 2rem;
        align-items:flex-start !important;
        padding:0px;
        margin-top: 2rem;
    }

    .icons-tec{
        width: 32px !important;
        height: 32px !important;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 425px){
button.about.btn.pointer {
    text-transform: capitalize;
    width: 205px;
    height: 50px;
    font-size: 13px;
    transition: .4s ease;
}
.about__meta{
    text-align:inherit;
}
.p__color{
    text-align: justify;
}
.infos{
    margin-top:0rem;
}
img.about__img{
    height: 450px;
}
}