.home__bg{
    background-image: url(./assets/red.png);
    background-color: #010101;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:150px;
}

.perfil-container img{
    margin-left: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.logo img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
}

h1.home__text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198,201,216,.75)!important;
}
h2.home__text{
    font-size: 48px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
}
.name{
    display: inline;
    font-size: 48px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
}
h3.home__text{
    font-size: 43px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
    line-height: 40px;
}
h4.home__text{
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat,sans-serif;
    
}
.header{
    transition: .4s all ease;
}
.header.active{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0px 30px;
    background-color: #191919;
}
.toggle__menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
}
ul.sidebar.d__flex {
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0%;
    background: #010101;
    justify-content: center;
    width: 300px;
    top: 0%;
    flex-direction: column;
}
li.sideNavbar{
    padding: 25px 30px;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px){
 .header{
     justify-content: space-between;
 }
 .navigation.pxy__30 {
        display: none;
    }
h2.white.pz__10 {
    font-size: 50px!important;
}
svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
}
.container{
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}

}
@media only screen and (max-width: 425px){
    h2.home__text.pz__10{
    font-size: 30px;
}
.name{
    display: block;
    font-size: 38px;
}
h3.sweet.pz__10 {
    font-size: 40px;
}
h1.home__text {
    font-size: 14px;
}
h4.home__text {
    font-size: 45px;
}

h3.home__text{
    font-size: 28px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
    line-height: 40px;
}
h4.home__text{
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat,sans-serif;
    
}

.perfil-container img{
    margin-left: 0rem;
    width: 160px;
    height: 160px;
}
}